* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
  font-size: 60px;
  font-family: 'Goldman', cursive;
  font-weight: 700;
  letter-spacing: 5px;
  color: white;
}
hr {
  margin-left: 10px;
  margin-right: 10px;
  border-top: 2px solid white;
  border-bottom: 0px;
}
