* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin-left: 30px;
  font-size: 80px;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  color: white;
}
hr {
  background: red;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid white;
  border-bottom: 0px;
}
p {
  width: 40vw;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  color: white;
}
b {
  font-size: 22px;
  font-family: 'Coda', cursive;
  font-weight: lighter;
}
